<% if current_user == @user %>
<h1 align="center"> Howdy <%= @user.username %>!</h1>
<% else %>
<h1 align="center"><%= @user.username %>'s Articles</h1>
<% end %>

<div class="center">
<% if @user_articles.count > 0 %>
<%= will_paginate @user_articles %>
<% else %>
<div class="well">
No articles to display
</div>
<% end %>
</div>
<%= render 'articles/article', obj: @user_articles %>
<div class="center">
<%= will_paginate @user_articles %>
</div>