<div class="container-fluid">
  <div class="center jumbotron">
    <span class="color"><h1 class="blog-title">The Blog for everyone</h1></span>
      <div class="container mini-title"><small>Have something interesting? Let the <span class="highlight">world</span> know!</small></h1></div>
        <% if logged_in? != true %>
          <div class="container"><%= link_to 'Get Started', signup_path, class: "btn btn-success btn-lg btn-xlarge" %></div>
        <% end %>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="container-fluid">
        <div class="page-header">
          <h1>Top Articles <small>Updated Every Day</small></h1>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10">
              <% blog_text_teaser %>
                <% if @articles.present? %>
                  <% @articles.each do |article| %>
                    <h2 class="blog-post-title article-title"><%= link_to "#{article.title.capitalize}", article_path(article) %></h2>
                    <div class="article-meta-details">
                      <small class="user"> By <span class="user-name"><%= article.user.username.capitalize if article.user %></small></small> | <small class="date"><%= article.created_at.strftime("%B %d, %Y")%></small>
                      <% if article.categories.any? %>
                        <p>Categories: <%= render article.categories %></p>
                      <% end %>
                    </div>
                    <% body = article.description || 'No content available' %>
                    <p class="body-style index-body"><%= truncate(body, length: 50) %></p>
                    <%= link_to "Click here to view", article_path(article) %>
                  <% end %>
                <% end %>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="page-header" align="right">
        <h1 align="center">Top Categories</h1>
      </div>
      <ul class="list-group">
        <% popular_category %>
            <% if @categories.present? %>
              <% @categories.each do |category| %>
                <% if category.articles.present? %>
                  <li class="list-group-item list-category">
                    <span class="badge"><%= category.articles.select(:title).count %></span>
                    <%= link_to "#{category.name}", category_path(category) %>
                  </li>
                <% end %>
              <% end %>
            <% end %>
        </ul>
    </div>
  </div>
</div>