
<nav class="navbar navbar navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to 'Viable', root_path, class: "navbar-brand", id: "logo" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Blog', articles_path, id: "blog" %></li>
        <li><%= link_to 'Community', users_path, id: "about" %></li>
        <% if logged_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="dropdown">Actions<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Create New Article', new_article_path, id: "action" %></li>
            <li><%= link_to 'Your Articles', user_path(session[:user_id]) %></li>
            <li><a href="#">Coming Soon</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Coming Soon</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Coming Soon</a></li>
          </ul>
        </li>
        <p class="navbar-text navbar-right">Signed in as <%= current_user.username %> <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </p>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      <% if logged_in?  %>
          <li><%= link_to 'logout', logout_path, method: :delete, id: "dropdown" %></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="dropdown">Your Profile<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Edit Account', edit_user_path(current_user), id: "action" %></li>
            <li><%= link_to 'View Account', user_path(current_user) %></li>
            <li><a href="#"><%="You are Admin" if current_user.admin? %></a></li>
          </ul>
        </li>
        <% else %>
          <li><%= link_to 'log In', login_path %></li>
          <li><%= link_to 'Sign Up', signup_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
