<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  <title>article.do</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application','https://fonts.googleapis.com/css?family=Andika|Bowlby+One+SC|Bungee+Inline|Ceviche+One|Cinzel|Faster+One|Roboto+Slab+Song+Myung+Fascinate+Inline+Bungee+Shade|Fascinate+Inline|Frijole|Shojumaru', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="container-fluid home">
    <%= render 'layouts/navigation' %> 
    <%= render 'layouts/messages' %>
    <div class="container-fluid">
    <%= yield %>
    </div>
  </div>
</body>
</html>
<%= render 'layouts/footer' %>
