<!DOCTYPE html>
<html>
  <head>
    <title>Viable</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application','https://fonts.googleapis.com/css?family=Andika|Bowlby+One+SC|Bungee+Inline|Ceviche+One|Cinzel|Faster+One|Roboto+Slab', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
  <%= render 'layouts/navigation' %>
  
  <%= render 'layouts/messages' %>
  <div class="container">
    <%= yield %>
  </div>
  </body>
  <%= render 'layouts/footer' %>
</html>
